form {
  background: white;
  float: left;
  padding: 30px;
  color: #111000; 
  margin-left:500px; 
  margin-top:50px;
}

form div {
  margin-bottom: 15px;
  position: relative;
}

label, span {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
